<br/>
<% flash.each do |name, msg| %>
  <div id="alert_box" class="<%= flash_class(name) %>" role="alert">
    <%= msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>