<%= form_for(@list) do |form| %>
    <div class="input-group">
      <%= form.text_field :description, class: "form-control", placeholder: "Description" %>
      <div class="input-group-prepend">
        <%= form.submit "Add Task", class: "btn btn-success btn-sm" %>
      </div>
  </div>
<% end %>
